/* top gainer/loser font headings */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

.custom-font-one{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600 !important;
    text-align: center;
}
.custom-font-two{
    font-size: 34px;
    font-family: 'Quicksand', sans-serif;
}
#home-content-cont{
    height: 500px;
    background-color: rgb(255, 255, 255);
    font-family: 'Glory', sans-serif;
}
/* font */
.f-30{
    font-size: 30px;
}
li{
    font-family: 'Glory', sans-serif;
}
/* dow jones */
.gtitle{
    font-weight: 600 !important;
}

/* slider styles */
.slick-slider{
    margin-left: 5%;
    cursor:grab;
}
.right-arrow:hover,.left-arrow:hover{
    cursor:pointer;
}
.right-arrow{
    position: absolute;
    right: 0px;
    top: 28%;
    z-index: 99999;
    font-size: 55px;
}
.left-arrow{
    position: absolute;
    left: -8%;
    top: 28%;
    z-index: 99999;
    font-size: 55px;
}