.wl-card-container{
    border: 1px solid black;
    max-width:300px; min-height: 200px;
    width:33%;
    padding:10px;
}
.wl-card-top{

}
.wl-card-stock-info{

}
.wl-card-setting{

}
.wl-card-bottom{

}